# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Executables and manifests
src-tauri/pytubepp-helper-msghost.exe
src-tauri/pytubepp-helper-autostart.exe
src-tauri/pytubepp-helper-msghost.json
src-tauri/pytubepp-helper-msghost-moz.json
src-tauri/pytubepp-helper-msghost
src-tauri/pytubepp-helper-autostart
src-tauri/pytubepp-helper-autostart.plist

# Certificate files
certificate.pfx

# Environment variables
.env