[Desktop Entry]
Type=Application
Name=pytubepp-helper
Icon=pytubepp-helper
Comment=pytubepp-helper autostart
Exec=/usr/bin/pytubepp-helper --hidden
StartupNotify=false
Terminal=false